*.kdev4
doc/*
dump/*
obj/*
build/*
demos/*
*~
/.pydevproject
/.project
/.cproject
include/gtest/*
include/gmock/*
include/GLFW/*
include/glslang/*
include/shaderc/*
include/spirv/*
include/spirv-tools/*
lib/*
bin/*
Makefile
*.mk
*.Makefile
*/out/*
